# Track twentyseventeen folder only
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/twentyseventeen*

# Ignore dependencies
wp-content/themes/*/node_modules/

# Ignore OS files
Thumbs.db
desktop.ini
.DS_Store
