# Track twentyseventeen-child folder only
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/twentyseventeen-child

# Ignore dependencies
wp-content/themes/*/assets/build/
wp-content/themes/*/node_modules/
wp-content/themes/*/vendor/

# Ignore OS files
Thumbs.db
desktop.ini
.DS_Store
