<?php

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'array_indentation' => true,
        'braces' => array(
            'position_after_functions_and_oop_constructs' => 'same'
        ),
        'concat_space' => array('spacing' => 'one'),
        'no_short_echo_tag' => true,
        'yoda_style' => false,
    ))
    ->setIndent("  ")
    ->setLineEnding("\n")
;
